<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/images/f6e6c3f9-a787-4e02-b724-cd5d2d045233.jpg" />
  </body>
</html>
